<div id="projects" class="content-wrapper clearfix">
    <div class="row project-list">
        <div class="project new col-xs-3">
            <a href="#" ng-click="openCreateProject()">
                <i class="ion-ios7-plus-outline"></i>
                <span class="info">
                    Create a New Project
                </span>
            </a>
        </div>
        <div class="project col-xs-3" ng-repeat="accountProject in accountProjects">
            <div class="info">
                <a ui-sref="template.projectDetail({id: accountProject.project.id})">
                    <div class="name">{{accountProject.project.title}}</div>
                    <div class="category">{{accountProject.project.description}}</div>
                    <div class="last-update">
                        {{moment(accountProject.createdAt).fromNow()}}
                    </div>
                </a>
            </div>
<!--             <div class="members">
                <img alt="3" src="">
                <img alt="7" src="">
                <img alt="14" src="">
                <img alt="15" src="">

                <a href="#" class="add-more">
                    <i class="fa fa-plus"></i>
                </a>
                <ul class="menu">
                    <li><a href="#">Invite a new user</a></li>
                    <li><a href="#">Change name</a></li>
                    <li><a href="#">Delete project</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
