<div id="projects" class="content-wrapper clearfix">
    <div class="row project-list">
        <div class="project new col-xs-3">
            <a href="#">
                <i class="ion-ios7-plus-outline"></i>
                <span class="info">
                    Create a New Project
                </span>
            </a>
        </div>
        <div class="project col-xs-3">
            <div class="info">
                <div class="name">Dashboard Design</div>
                <div class="category">Design &amp; Development</div>
                <div class="last-update">
                    Last updated 3 hours ago
                </div>
            </div>
            <div class="members">
                <img alt="3" src="">
                <img alt="7" src="">
                <img alt="14" src="">
                <img alt="15" src="">

                <a href="#" class="add-more">
                    <i class="fa fa-plus"></i>
                </a>
                <ul class="menu">
                    <li><a href="#">Invite a new user</a></li>
                    <li><a href="#">Change name</a></li>
                    <li><a href="#">Delete project</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
