<div class="container">
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{project.title}}
                    <small>{{project.description}}</small>
                </h1>
            </div>
        </div>
        <div class="row addCategory">
            <div class="col-sm-4">
                <h2 class="subcategory">Create Category</h2>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="category" ng-model="category.title"/>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="form-control" ng-click="addCategory()">
                    Add
                </button>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-4 categories" ng-repeat="category in categories">
                <h3><a href="#">{{category.title}}</a></h3>
                <a href="#" class="btn btn-primary glyphicon-plus" class="col-sm-4" ng-click="createCard(category)">
                </a>
                 <ul class="cards">
                    <li class="card text-center" ng-repeat="card in category.cards">
                        <div>
                            <a class="title" ng-click="editCard(card)" href="">{{card.title}}</a>
                            <p><em>Status:</em>{{card.status.name}}</p>
                            <p>{{card.description}}</p>
                        </div>
                    </li>
                 </ul>
             </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
