.addCategory {
    margin-bottom: 20px;
    padding-bottom: 1px solid #b9b9b9;
}

h2.subcategory {
    margin: 0;
}

div.categories h3,
div.categories a.btn-primary {
 float:left;
 margin: 0;
 font-weight: bold;
}

div.categories a.btn-primary {
    padding: 1px 6px;
    margin-left: 10px;
}

ul.cards {
  margin: 0;
  padding: 0;
  margin-top: 45px;
}
li.card {
  margin: 10px 0;
  padding: 25px;
  background-color: #f9f9f9;
  list-style: none;
}
li.card .title {
    font-size: 22px;
}
